<div id="vue-container">
    <x-search p-url="{{ Url }}"
              p-title="{{ Title }}"
              p-subtitle="{{ SubTitle }}"
              p-imgbanner="{{ ImgBanner }}"
              p-cardlabeltitle="{{ CardLabelTitle }}"
              p-cardlabelcategory="{{ CardLabelCategory }}">

      {{ render "@menu" }}
    </x-search>
</div>

<script src="{{ path '/search.bundle.js' }}"></script>
