<div id="vue-container">

    {{ render "@menu" }}

    <x-search p-url="{{ url }}">

        <template slot="title">
          {{ Title }}
        </template>

        <template slot="subTitle">
            {{ SubTitle }}
        </template>

        <template slot="imgBanner">
          <img src="{{ imgBanner }}" />
        </template>

        <template slot="cardLabelTitle">
          {{ CardLabelTitle }}
        </template>

        <template slot="cardLabelCategory">
          {{ CardLabelCategory }}
        </template>

    </x-search>
</div>

<script src="{{ path '/search.bundle.js' }}"></script>
