<div id="vue-container">
    <x-conecta p-url="{{ Sitecore.url }}">

        <template slot="title">
          {{ Sitecore.Title }}
        </template>

        <template slot="subTitle">
            {{ Sitecore.SubTitle }}
        </template>

        <template slot="imgBanner">
          <img src="{{ Sitecore.imgBanner }}" />
        </template>

        <template slot="cardLabelTitle">
          {{ Sitecore.CardLabelTitle }}
        </template>

        <template slot="cardLabelCategory">
          {{ Sitecore.CardLabelCategory }}
        </template>

    </x-conecta>
</div>

<script src="{{ path '/conecta.bundle.js' }}"></script>
