<div id="vue-container">
    <x-conecta p-url="{{ url }}">

        <template slot="title">
          {{ Title }}
        </template>

        <template slot="subTitle">
            {{ SubTitle }}
        </template>

        <template slot="imgBanner">
          <img src="{{ imgBanner }}" />
        </template>

        <template slot="cardLabelTitle">
          {{ CardLabelTitle }}
        </template>

        <template slot="cardLabelCategory">
          {{ CardLabelCategory }}
        </template>

    </x-conecta>
</div>

<script src="{{ path '/conecta.bundle.js' }}"></script>
